<%- include ('partials/header')%>
<body>
    <%- include ('partials/navbar')%>
    
    <div class="container" id="home-conteudo">
        <h1> Bem vindo ao DevBlog</h1>
        <p> Aqui você encontra conteudo de qualidade sobre diversas areas da tecnologia.</p>
        <hr>
       
    </div>

    
</body>

<%- include ('partials/footer')%>