
<% if( info && info.error ){%>

<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong><%= info.msg.title%></strong> <%= info.msg.body %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<% }%>