<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="/img/blogger.png" width="30" height="30" class="d-inline-block align-top" alt="">
      DevBlog
    </a>

    <div class="navbar-collapse">
        
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin">Painel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/users">Usuários</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/categories">Categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/articles">Artigos</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <a class="nav-link" href="/users/logout">Sair</a>
            </li>
        </ul>
    </div>
</nav>
