<%- include('../partials/header')%>
<%- include('../partials/navbar')%>


<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Painel Administrativo</h2>
        </div>

        <div class="card-body">

            models

        </div>
    </div>

</div>

<%- include('../partials/footer')%>